.logo{
    height: 100%;
    width: 100%;
}
.logo.logo-blue-none{
    display: none;
}
.logo.logo-white-none{
    display: none;
}
.logo img, .logo svg{
    width: 100%;
    height: 100%;
}
.list_node{
    border-left: 2.5px rgb(22, 148, 180) solid;
    padding-left: 1rem;
}
a:hover {
    text-decoration: none;
}