{% extends 'base.html' %}

{% load static %}

{% block corps %}
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Enseignants</h6>
        </div>
        <div class="card-body">
            <div class=" mb-4">
                <a href="{% url 'administration:add_teacher' %}"
                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fa fa-user-plus fa-sm text-white-75"></i> ajouter un enseignant</a>
            </div>

            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped table-hover" id="dataTable" role="grid"
                                aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                                <thead>
                                    <tr role="row">
                                        <th>photo</th>
                                        <th>Nom</th>
                                        <th>email</th>
                                        <th>mot de passe</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ens in enss %}
                                    <tr>
                                        <td>
                                            {% if ens.image %}
                                            <img src="{{ens.image.url }}" 
                                                class="rounded-circle photo_table" alt="...">
                                            {% else %}
                                            <img src="{% static 'assets/img/undraw_profile.svg' %}"
                                                 class="rounded-circle photo_table" alt="...">
                                            {% endif %}
                                        </td>
                                        <td><span class="d-block py-2">{{ ens.name }}</span></td>
                                        <td><span class="d-block py-2">{{ ens.email }}</span></td>
                                        <td><span class="d-block py-2">{{ ens.password }}</span></td>
                                        <td>
                                            <div class="d-flex py-2">
                                                <a href="{% url 'adminin:delete_ens' id=ens.id %}"
                                                    class="btn btn-danger btn-circle btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                <a href="" class="btn btn-warning btn-circle btn-sm">
                                                    <i class="fa fa-cogs"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'assets/js/sb-admin-2.min.js'%}"></script>

<!-- Page level plugins -->
<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/perso/table.js' %}"></script>
{% endblock %}