{% load static %}

            <ul class="list-unstyled m-0 py-1">
             <div class="d-flex align-items-center justify-content-between">
                <button class="btn d-inline-flex align-items-center collapsed rounded-0 gap-2" data-bs-toggle="collapse" data-bs-target="#_1" aria-expanded="false">
                    <i class="fa fa-code-fork"></i> <h5 class="m-0">uy1</h5>
                </button>
                <div class="btn-group">
                <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 1 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                        <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__1">
                        ajouter
                    </button>
                    
                </li>
                        <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___1">
                            definir comme feuille
                        </button>
                        </li>
                    </ul>
                </div>
             </div>  <div class="collapse border-start ps-2" id="_1">
                    <ul class="list-unstyled"><li>
            <ul class="list-unstyled m-0 py-1">
             <div class="d-flex align-items-center justify-content-between">
                <button class="btn d-inline-flex align-items-center collapsed rounded-0 gap-2" data-bs-toggle="collapse" data-bs-target="#_17" aria-expanded="false">
                    <i class="fa fa-chevron-right"></i> <h5 class="m-0">fs</h5>
                </button>
                <div class="btn-group">
                <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 17 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                        <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__17">
                        ajouter
                    </button>
                    
                </li>
                        <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___17">
                            definir comme feuille
                        </button>
                        </li>
                    </ul>
                </div>
             </div>  <div class="collapse border-start ps-2" id="_17">
                    <ul class="list-unstyled"><li>
            <ul class="list-unstyled m-0 py-1">
             <div class="d-flex align-items-center justify-content-between">
                <button class="btn d-inline-flex align-items-center collapsed rounded-0 gap-2" data-bs-toggle="collapse" data-bs-target="#_18" aria-expanded="false">
                    <i class="fa fa-chevron-right"></i> <h5 class="m-0">info</h5>
                </button>
                <div class="btn-group">
                <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 18 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                        <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__18">
                        ajouter
                    </button>
                    
                </li>
                        <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___18">
                            definir comme feuille
                        </button>
                        </li>
                    </ul>
                </div>
             </div>  <div class="collapse border-start ps-2" id="_18">
                    <ul class="list-unstyled"><li>
            <ul class="list-unstyled m-0 py-1">
             <div class="d-flex align-items-center justify-content-between">
                <button class="btn d-inline-flex align-items-center collapsed rounded-0 gap-2" data-bs-toggle="collapse" data-bs-target="#_19" aria-expanded="false">
                    <i class="fa fa-chevron-right"></i> <h5 class="m-0">m1</h5>
                </button>
                <div class="btn-group">
                <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 19 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                        <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__19">
                        ajouter
                    </button>
                    
                </li>
                        <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___19">
                            definir comme feuille
                        </button>
                        </li>
                    </ul>
                </div>
             </div>  <div class="collapse border-start ps-2" id="_19">
                    <ul class="list-unstyled"><li>
            <ul class="list-unstyled m-0 py-1">
             <div class="d-flex align-items-center justify-content-between">
                <button class="btn d-inline-flex align-items-center collapsed rounded-0 gap-2" data-bs-toggle="collapse" data-bs-target="#_20" aria-expanded="false">
                    <i class="fa fa-chevron-right"></i> <h5 class="m-0">ue_projet</h5>
                </button>
                <div class="btn-group">
                <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 20 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                        <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__20">
                        ajouter
                    </button>
                    
                </li>
                        <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___20">
                            definir comme feuille
                        </button>
                        </li>
                    </ul>
                </div>
             </div>  <div class="collapse border-start ps-2" id="_20">
                    <ul class="list-unstyled"><li> <div class="d-flex align-items-center justify-content-between">
                             <div class="btn d-inline-flex align-items-center ">
                                 <i class="fa fa-node"></i> <h5 class="m-0">programmation</h5>
                             </div>
                             <div class="btn-group">
                            <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 21 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                              <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__21">
                        ajouter
                    </button>
                    
                </li>
                              <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___21">
                            definir comme feuille
                        </button>
                        </li>
                            </ul>
                        </div>
                         </div> </li></ul></div></ul></li></ul></div></ul></li><li> <div class="d-flex align-items-center justify-content-between">
                             <div class="btn d-inline-flex align-items-center ">
                                 <i class="fa fa-node"></i> <h5 class="m-0">l1</h5>
                             </div>
                             <div class="btn-group">
                            <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 25 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                              <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__25">
                        ajouter
                    </button>
                    
                </li>
                              <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___25">
                            definir comme feuille
                        </button>
                        </li>
                            </ul>
                        </div>
                         </div> </li><li> <div class="d-flex align-items-center justify-content-between">
                             <div class="btn d-inline-flex align-items-center ">
                                 <i class="fa fa-node"></i> <h5 class="m-0">l2</h5>
                             </div>
                             <div class="btn-group">
                            <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 26 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                              <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__26">
                        ajouter
                    </button>
                    
                </li>
                              <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___26">
                            definir comme feuille
                        </button>
                        </li>
                            </ul>
                        </div>
                         </div> </li><li> <div class="d-flex align-items-center justify-content-between">
                             <div class="btn d-inline-flex align-items-center ">
                                 <i class="fa fa-node"></i> <h5 class="m-0">l3</h5>
                             </div>
                             <div class="btn-group">
                            <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 27 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                              <li class="dropdown-item">  
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#__27">
                        ajouter
                    </button>
                    
                </li>
                              <li class="dropdown-item">
                        <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#___27">
                            definir comme feuille
                        </button>
                        </li>
                            </ul>
                        </div>
                         </div> </li></ul></div></ul></li></ul></div></ul></li><li> <div class="d-flex align-items-center justify-content-between">
                             <div class="btn d-inline-flex align-items-center gap-2">
                                 <i class="fa fa-leaf"></i> <h5 class="m-0">sjkhfsjdhf</h5>
                             </div>
                             <div class="btn-group">
                            <a type="button" class="fa fa-cog dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="dropdown-item">   <form action="{% url 'adminin:delete_noeud' %}" method="get" class = "w-100"> 
                           <input type="hidden" name="id" value=" 33 ">
                           <button type="submit" class="w-100 btn btn-primary">supprimer</button>
                        </form>  </li>
                            </ul>
                        </div>
                         </div> </li></ul></div></ul>
                    <div class="modal fade" id="__1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 1 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 1 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__17" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 17 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___17">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 17 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__18" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 18 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___18">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 18 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__19" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 19 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___19">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 19 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__20" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 20 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___20">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 20 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__21" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 21 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___21">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 21 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__25" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 25 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___25">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 25 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__26" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 26 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___26">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 26 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         
                    <div class="modal fade" id="__27" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                                        <input type="hidden" name="id" value=" 27 ">
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="nom">
                                            <label for="nom"> nom du nouveau noeud </label>
                                        </div>
                                        <div class="form-floating my-1">
                                            <input type="text" class="form-control rounded-0" name ="question">
                                            <label for="question"> question du nouveau noeud </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    
                
                         <div class="modal fade" id="___27">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <form action="{% url 'adminin:form_leaf' %}" class="m-1" method="get" >
                                    <input type="hidden" name="id" value=" 27 ">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" name="nombre" >
                                            <label>nombre de caracteristiques</label>
                                        </div>
                                        <button type="submit" class="btn rounded-0 btn-primary border-0 m-1">valider</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                         