{% extends 'base.html' %}
{% load static %}

{% block corps %}
<div class="container">
    <div class="my-3">
        <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#______">
            <i class="fa fa-plus "></i> ajouter une nouvelle racine
        </button>
        <div class="modal fade" id="______" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                            <input type="hidden" name="id" value="">
                            <div class="form-floating my-1">
                                <input type="text" class="form-control rounded-0" name ="nom">
                                <label for="nom"> nom du nouveau noeud </label>
                            </div>
                            <div class="form-floating my-1">
                                <input type="text" class="form-control rounded-0" name ="question">
                                <label for="question"> question du nouveau noeud </label>
                            </div>
                            <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-md-50  p-3" id="hierarchie">
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block javascript %}
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js'%}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js'%}"></script>
<script>
    var data = JSON.parse("{{ data|escapejs }}");
    var hierarchieDiv = document.getElementById('hierarchie');
    hierarchieDiv.innerHTML = data['hierarchie']
</script>

{% endblock %}
