
{% extends 'base.html' %}
{% if user.is_authenticated %}

{% load static %}
{% block entete %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <h2>Hello {{fname}}!</h2>
    <h4>You're successfully logged in.</h4>
    <div class="float-right">
        <button  class="btn btn-link  rounded-circle" type="submit"><a href="/signout">SignOut</a></button>
    </div> 

</nav>

{% endblock entete %}


{% block corps %}
<div class="container">
    <div class="my-3">    
        <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#______">
            <i class="fa fa-plus "></i> ajouter une nouvelle racine
        </button>
        <div class="modal fade" id="______" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="{% url 'adminin:add_noeud' %}" class="m-1" method="get">
                            <input type="hidden" name="id" value="">
                            <div class="form-floating my-1">
                                <input type="text" class="form-control rounded-0" name ="nom">
                                <label for="nom"> nom du nouveau noeud </label>
                            </div>
                            <div class="form-floating my-1">
                                <input type="text" class="form-control rounded-0" name ="question">
                                <label for="question"> question du nouveau noeud </label>
                            </div>
                            <button type="submit" class="btn btn-primary m-1 border-0"><i class="fa fa-trash3"></i>valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-md-50  p-3 fw-bold"  >
        {% autoescape off %}
        {{ hierarchie }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}



{% else %}
    <h4>Vous etes pas connecété</h4>
{% endif %}
