
        <tr>
            <td>
                <input type="text" class="w-100" name="nom_0">
            </td>
            <td>
                <select class="form-select form-select-sm" name="type_0" id="">
                    <option value="1">Date</option>
                    <option value="2">Entier</option>
                    <option value="3">Reel</option>
                    <option value="4">Chaine de Caractere</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="text" class="w-100" name="nom_1">
            </td>
            <td>
                <select class="form-select form-select-sm" name="type_1" id="">
                    <option value="1">Date</option>
                    <option value="2">Entier</option>
                    <option value="3">Reel</option>
                    <option value="4">Chaine de Caractere</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="text" class="w-100" name="nom_2">
            </td>
            <td>
                <select class="form-select form-select-sm" name="type_2" id="">
                    <option value="1">Date</option>
                    <option value="2">Entier</option>
                    <option value="3">Reel</option>
                    <option value="4">Chaine de Caractere</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="text" class="w-100" name="nom_3">
            </td>
            <td>
                <select class="form-select form-select-sm" name="type_3" id="">
                    <option value="1">Date</option>
                    <option value="2">Entier</option>
                    <option value="3">Reel</option>
                    <option value="4">Chaine de Caractere</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type="text" class="w-100" name="nom_4">
            </td>
            <td>
                <select class="form-select form-select-sm" name="type_4" id="">
                    <option value="1">Date</option>
                    <option value="2">Entier</option>
                    <option value="3">Reel</option>
                    <option value="4">Chaine de Caractere</option>
                </select>
            </td>
        </tr>
        