{% extends 'baseEnseignant.html' %}

{% block corps %}

<div class="login">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
        

            <div class="col-xl-10 col-lg-12 col-md-9  ">
                
                <div class="card o-hidden border-0 shadow-lg my-5 center-login">
                  
                    {% for message in messages %}
                    
                    <div class=" alert  alert-sucess alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hello Update Your information  !</h1>
                                    </div>
                                    <form class="user" action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="username" 
                                                placeholder="Enter your new username" name="username">
                                        </div>
                                       
                                        <div class="form-group">
                                            <input type="file" class="form-control form-control-user"
                                                id="file" placeholder="Image file" name="file">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" placeholder="Password" name="password">
                                        </div>
                                        
                                        <button class="btn btn-primary btn-user btn-block" type="submit" >
                                            save
                                        </button>
                                       
                                    </form>
                                    <hr>
                                   
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock corps %}
